body,
html {
  background-color: #ED967F !important;
}
a,
#logo {
  color: black !important;
  fill: black !important;
}
#schedule div {
  background-color: #EE6A3A !important;
  color: white;
}
#add {
  background: #EE6A3A !important;
}
.btn,
#previousDay,
#nextDay,
#loadSchedule,
#settingsButton {
  background-color: #EE6A3A !important;
  color: white;
}
.btn:hover,
#previousDay:hover,
#nextDay:hover,
#loadSchedule:hover,
#settingsButton:hover {
  background-color: #EE6A3A !important;
}
@media (prefers-color-scheme: dark) {
  .btn {
    background-color: #EE6A3A !important;
  }
}
#add:hover {
  background: #EE6A3A !important;
}
@media (prefers-color-scheme: dark) {
  #add {
    background: #EE6A3A !important;
  }
  #add:hover {
    background: #EE6A3A !important;
  }
}
