body,
html {
  background-color: pink !important;
  color: white !important;
}

#schedule div {
  background-color: #0001 !important;
}

a,
#logo {
  color: black !important;
  fill: black !important;
}
