body,
html {
  background-color: #ffc0cb !important;
}
a,
#logo {
  color: black !important;
  fill: black !important;
}
#schedule div {
  background-color: #d2008a9e !important;
  color: white;
}
#add {
  background: #ff84c3 !important;
}
.btn,
#previousDay,
#nextDay,
#loadSchedule,
#settingsButton {
  background-color: #ff84c3 !important;
  color: white;
}
.btn:hover,
#previousDay:hover,
#nextDay:hover,
#loadSchedule:hover,
#settingsButton:hover {
  background-color: #ff65b4 !important;
}
@media (prefers-color-scheme: dark) {
  .btn {
    background-color: #ff84c3 !important;
  }
}
#add:hover {
  background: #ff65b4 !important;
}
@media (prefers-color-scheme: dark) {
  #add {
    background: #ff84c3 !important;
  }
  #add:hover {
    background: #ff65b4 !important;
  }
}
