:root {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "cv07" 1, "cv03" 1, "cv04" 1;
  interpolate-size: allow-keywords;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }
}
::view-transition-group(root) {
  animation-duration: 200ms;
}
@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(root),
  dialog {
    animation: none !important;
  }
  * {
    transition: none !important;
  }
}
#authorizationCode:invalid {
  background-color: #f7baba73;
  border: 1px solid #a65050;
}
#authorizationCode:invalid:focus {
  border: 3px solid #a65050;
}
#authorizationCode:invalid ~ label {
  color: #660d00;
}
#previousDay {
  border: none;
  border-radius: 4rem 0.5rem 0.5rem 4rem;
  background-color: var(--primary-accent);
  z-index: 2;
  position: relative;
  padding: 0.4rem;
}
#nextDay {
  border: none;
  border-radius: 0.5rem 4rem 4rem 0.5rem;
  background-color: var(--primary-accent);
  z-index: 2;
  position: relative;
  padding: 0.4rem;
}
.check_box {
  display: none;
}
#soft_burst {
  transform: translateX(-9px);
  fill: var(--primary-light);
  vertical-align: middle;
  position: absolute;
}
#soft_burst ~ span {
  margin-left: 6.9px;
}
#field {
  background: var(--primary-background);
  position: fixed;
  width: calc(100vw - 16px);
  top: 0;
  left: 0;
  padding: 4px 8px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cancelled .className {
  display: none !important;
}

.check_box + label {
  background: url("transpose.png");
  height: 24px;
  width: 24px;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-size: cover;
  vertical-align: bottom;
  cursor: pointer;
}
.dag.zaterdag,
.dag.Zaterdag,
.dag.Za,
.dag.zondag,
.dag.Zondag,
.dag.Zo {
  display: none;
}
body,
html {
  box-sizing: border-box;
  overflow-x: hidden;
  user-select: none;
  accent-color: var(--primary-light);
  background-color: var(--primary-background);
  color: #231918;
}
body {
  margin: 0 8px;
}
button {
  font-family: inherit;
}
button:focus {
  outline: revert !important;
}
dialog {
  border: 0;
  border-radius: 2rem;
  background-color: var(--primary-background);
  padding: 16px 18px;
  max-width: calc(100vw - 60px);
  max-height: calc(100vh - 60px);
  animation: popIn 0.3s;
  overflow-x: hidden;
  user-select: none;
  outline: none;
  view-transition-name: dialog;
  width: 280px;
}

@keyframes popIn {
  from {
    max-height: 0px;
    padding: 0;
    opacity: 0;
    overflow: hidden;
  }
}

@keyframes popOut {
  from {
    max-height: calc(100vh - 80px);
    padding: 24px;
    opacity: 1;
    overflow: hidden;
  }
  to {
    max-height: 0px;
    padding: 0;
    opacity: 0;
    overflow: hidden;
  }
}

#inputForm {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
}

input[type="text"] {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

span#schedule {
  display: block;
}
section div,
section #submenu {
  background-color: var(--primary-foreground-faded);
  padding: 8px 10px;
  margin-bottom: 0.125rem;
  border-radius: 0.25rem;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  font-family: Google Sans Flex, Inter, system-ui;
  font-variation-settings: "ROND" 100;
}
.day section div {
  padding: 0px 10px;
}

.tooltip {
  position: fixed;
  background: var(--primary-accent);
  color: var(--accent-text);
  padding: 8px 10px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: ease-in opacity 0.1s;
  font-size: 0.875rem;
  font-family: Google Sans Flex, Inter, system-ui;
  font-weight: 500;
  font-variation-settings: "opsz" 20, "ROND" 100;
  width: max-content;
  max-width: calc(100% - 40px);
  pointer-events: none;
}
.tooltip[data-show] {
  opacity: 1;
}
.check {
  display: none;
}
h2.date {
  margin: 8px auto;
  color: var(--accent-text);
  fill: var(--primary-light);
  text-align: center;
}
.selected .check {
  display: inline;
}
section div:first-of-type,
section #submenu:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
section div:last-of-type,
section #submenu:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 0;
}

#week {
  font-family: Google Sans Flex, Inter, system-ui;
  font-weight: 500;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  font-size: 0.875rem;
}
.geweest {
  border: 1px solid #5ebb60;
  background-color: #e2eedf;
}
#warningIcon {
  vertical-align: sub;
  fill: #ff9800;
  width: 1.5rem;
  height: 1.5rem;
}
.warning {
  position: absolute;
  bottom: 6px;
  right: 6px;
}
.switches .switch:first-of-type {
  padding: 13px;
  width: 250px;
}
th {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  padding: 8px;
}
kbd {
  font-family: inherit;
  border: 1px solid #d0d6dc;
  border-radius: 5px;
  padding: 4px 8px;
  line-height: 2;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}
#shortcuts,
#shortcuts #content {
  max-width: 356px;
}
section #submenu {
  padding: 12px 14px;
  font-weight: 450;
  letter-spacing: 0.1px;
  font-size: 1rem;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  text-align: left;
  border: 0;
}
hr {
  height: 0.4375rem;
  border-width: 0;
  background-color: transparent;
  margin: 0px;
}
#link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
#link #icon:nth-child(2) {
  margin-top: 2px;
  fill: var(--thumb-background) !important;
}
#linkText {
  font-weight: 450;
  letter-spacing: 0.1px;
}
.warning .warningMessage,
.plusTeachers .warningMessage {
  display: none;
  z-index: 1;
  color: #8f501b;
  background-color: #ffeacc;
  border-radius: 7.5px;
  padding: 5px;
  position: absolute;
  right: 5px;
  width: max-content;
  max-width: calc(100vw - 31px);
  box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
  border: 1px solid #8f501b20;
}
.plusTeachers {
  cursor: pointer;
  display: inherit;
}
.plusTeachers .warningMessage {
  display: none;
}
.warning:hover .warningMessage,
.plusTeachers:hover .warningMessage {
  display: block;
}

strong.lesuur {
  position: absolute;
  right: 13px;
  translate: 0 -1px;
}
.dayTitle {
  width: calc(100vw - 10px);
  margin: 0;
  font-size: 14px;
  background-color: #f6f8fa;
  padding: 5px;
}
h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0;
  margin-left: 4px;
  margin-bottom: 12px;
  font-family: Google Sans Flex, Inter, system-ui;
  font-variation-settings: "ROND" 100;
}

.gif-mask {
  width: 32px;
  height: 32px;
  background-color: var(--primary-light);
  -webkit-mask-image: url("loading.gif");
  -webkit-mask-size: contain;
  mask-image: url("loading.gif");
  mask-size: contain;
}
.gif-container {
  width: 32px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--primary-accent);
  margin-top: 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  z-index: 1;
  box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
  display: none;
}

.les p,
.les span,
strong.date,
.change {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.00625rem;
  display: inline;
  font-family: Google Sans Flex, Inter, system-ui;
  font-variation-settings: "opsz" 20, "ROND" 100;
}
strong.date {
  margin: 8px 12px;
  color: var(--primary-light);
  display: flex;
  align-items: center;
  font-weight: 600;
}

.warning[style="bottom: 5px"] svg {
  width: 22px;
  margin-right: 1px;
}

p.lestijden {
  display: inline;
}

strong {
  font-weight: 600;
  letter-spacing: 0.00625rem;
  font-family: Google Sans Rounded;
}

details strong {
  font-size: inherit;
}

h3 {
  margin: 0px;
  width: 200px;
  text-align: left;
  margin-left: 5px;
  margin-right: -5px;
  height: 27px;
  font-weight: 600;
}
#schedule {
  margin-top: 2.75rem;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
}
#schedule div {
  flex: 1;
}
.weekEnabled,
.dayEnabled,
.ltrEnabled {
  display: flex;
  gap: 12px;
}
#schedule.listEnabled {
  margin-top: 3.3125rem;
}
#schedule.ltrEnabled {
  flex-direction: column;
  gap: 0;
  margin-top: 2.5rem;
}
.ltrEnabled strong.date {
  margin: 12px;
}
.ltrEnabled .day div {
  display: flex;
}
.ltrEnabled .les p {
  display: block;
}
.ltrEnabled .warning {
  bottom: 22px !important;
}
.les {
  min-height: var(--height);
  transition: filter 0.1s cubic-bezier(1, 0, 0, 1);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1.4;
}
#schedule .les.clicked {
  filter: brightness(1.15);
}
#info .les {
  padding: 0px 10px;
  min-height: var(--height);
}
#info .groups {
  display: none;
}
.moreInfo {
  display: flex;
  gap: 0.4rem;
}
.dates p {
  display: block;
}
#info .dates {
  cursor: default;
  padding: 0;
}
#schedule section {
  margin-top: var(--margin);
}
section div br:not(:first-of-type) {
  display: none;
}
.ltrEnabled section {
  display: flex;
  margin-top: 0 !important;
  margin-left: calc(var(--margin) * 2.78);
}
.ltrEnabled section div br:not(:first-of-type) {
  display: block;
}
.ltrEnabled section div {
  width: calc(var(--height) * 2.5);
  margin-bottom: 0;
  margin-right: 0.125rem;
  padding: 6px 10px;
  line-height: normal !important;
}
.dayEnabled div {
  width: calc(100vw - 36px);
  margin-right: 24px;
}
.ltrEnabled section div:first-of-type {
  border-radius: 0.25rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.ltrEnabled section div:last-of-type:not(:only-of-type) {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.ltrEnabled section div:last-of-type {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
#ltr {
  cursor: pointer;
  background: var(--primary-accent);
  fill: var(--primary-light);
  color: var(--primary-light);
  font-size: 14px;
}
#ltr:active {
  border-radius: 0.75rem;
}
#ltr span {
  vertical-align: text-top;
  font-family: Google Sans Flex, Inter, system-ui;
}
#ltr svg {
  fill: var(--accent-text);
  transition: rotate 0.2s;
}
#side {
  position: fixed;
  background: var(--primary-accent);
  z-index: 1;
  left: 0;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0.25rem;
  border-radius: 1rem;
  margin: 0.25rem;
  margin-top: 3rem;
}
.pillContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebarPresent {
  margin-left: 4.25rem;
}
@font-face {
  font-family: "Pluto";
  src: url("https://blissradio.github.io/PlutoBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#settingsButton {
  cursor: pointer;
  fill: black;
}

.les span.className {
  display: none;
}
.subjectName {
  display: none;
}
b {
  font-weight: 600;
  letter-spacing: 0.1px;
  font-family: Google Sans Flex, Inter, system-ui;
  font-variation-settings: "ROND" 100;
}
.btn {
  background-color: #f1f1f1;
  border: 0;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  border-radius: 4rem;
  transition: all 0.1s cubic-bezier(1, 0, 0, 1);
  font-weight: 500;
  letter-spacing: 0.1px;
}
.btn:hover,
#previousDay:hover,
#nextDay:hover,
#settingsButton:hover {
  filter: brightness(0.9);
}
dialog .btn {
  color: var(--primary-dark);
  background: var(--primary-light);
}
#ltr.btn:active,
dialog .btn:active {
  border-radius: 0.75rem;
}
#previousDay,
#nextDay,
#loadSchedule,
#settingsButton {
  transition: all 0.1s ease-in-out;
}

button:not(:disabled) {
  cursor: pointer;
}

#icon,
.icon {
  fill: black;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
}

#error {
  background-color: #eeb;
}
.cancelled .warningMessage {
  font-size: 14px !important;
}
.selected {
  padding: 9px;
  background-color: var(--primary-light) !important;
  color: var(--primary-dark) !important;
  border-radius: 2rem !important;
}
.themes {
  padding: 8px 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@font-face {
  font-family: "FontWithASyntaxHighlighter";
  src: url("/FontWithASyntaxHighlighter-Regular.woff2") format("woff2");
}
code {
  font-family: "FontWithASyntaxHighlighter", monospace;
}
dialog details summary {
  cursor: pointer;
}
dialog details {
  margin-bottom: 4px;
}
details {
  overflow: hidden;
}
summary::marker {
  font-family: inherit;
}
details::details-content {
  block-size: 0;
  opacity: 0;
  transition: all 0.2s;
  transition-behavior: allow-discrete;
}
details[open]::details-content {
  block-size: auto;
  opacity: 1;
}
.les span strong {
  font-size: 1rem;
  font-variation-settings: initial;
}
.innerSpan {
  display: block !important;
  width: 100%;
}
.hwDiv {
  position: relative;
  margin-bottom: 5px;
  width: calc(100vw - 27px);
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 8px;
}
ol,
ul {
  padding-left: 20px;
}
.hwDiv svg {
  margin-right: 5.5px;
  vertical-align: sub;
}
.pill {
  border-radius: 0.5rem;
  transition: all 0.1s ease-in-out;
  background-color: var(--primary-background);
  padding: 0.4rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
  gap: 0.25rem;
  width: fit-content;
  color: var(--accent-text);
  font-weight: 450;
  font-family: Google Sans Flex, Inter, system-ui;
  letter-spacing: 0.1px;
  flex-wrap: wrap;
  font-size: 14px;
  border: none;
  font-variation-settings: "ROND" 100;
}
.day-group h3 {
  width: fit-content;
}
.pillContainer label {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-family: Google Sans Flex, Inter, system-ui;
  color: var(--accent-text);
  font-variation-settings: "ROND" 100;
  padding-top: 2px;
}
.pillContainer .pill {
  border-radius: 0.75rem;
}
.navSelected {
  background-color: var(--primary-accent) !important;
}
.navSelected + label {
  color: var(--primary-light);
}
.navSelected svg {
  fill: var(--primary-light) !important;
  transform: perspective(1cm) rotateY(360deg);
  transition: transform 0.2s ease-in-out;
}
.hwDiv #icon {
  fill: var(--primary-light) !important;
  transform: translateY(-2px);
}
.hwDiv input[type="checkbox"] {
  scale: 1.5;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 20px;
}
.hwDiv input[type="checkbox"]:checked ~ details summary,
.hwDiv input[type="checkbox"]:checked ~ strong {
  text-decoration: line-through;
  opacity: 0.6;
  color: var(--primary-light);
}
.hwDiv input[type="checkbox"]:checked ~ svg {
  fill: var(--primary-light);
  opacity: 0.6;
}
.hwDiv summary {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  max-width: calc(100% - 40px);
}
.hwDiv details {
  max-width: calc(100% - 40px);
}
.grade {
  float: right;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  margin-right: 5px;
  width: 40px;
}
small {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1px;
  opacity: 0.8;
  font-family: Google Sans Flex, Inter, system-ui;
  font-variation-settings: "opsz" 20, "ROND" 100;
}
#settingsButton {
  background-color: var(--primary-accent);
}
.onvoldoende .grade {
  color: #d32f0d;
}
li {
  margin-bottom: 5px;
}
::marker {
  font-weight: bold;
  color: var(--primary-light);
  font-family: Inter;
}
#dayBtn,
#weekBtn {
  background-color: var(--primary-accent);
}
#dayBtn span,
#weekBtn span {
  font-family: Google Sans Flex, Inter, system-ui;
  line-height: 1;
}
#viewSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: var(--primary-foreground);
}
#viewSelect div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: none;
  background-color: var(--primary-foreground);
}
#viewSelect div span {
  translate: -6px;
}
dialog strong.date {
  margin-left: 12px;
}
#fontBtn {
  font-family: inherit;
  font-size: 0.875rem;
  margin-top: 16px;
  color: var(--primary-dark);
  border-radius: 0.75rem;
  background-color: var(--primary-light);
  display: none;
}
select {
  font-family: inherit;
  font-variation-settings: "opsz" 20;
  font-size: inherit;
  font-weight: 450;
  outline: none;
  border: 1px solid var(--primary-border);
  border-radius: 0.5rem;
  padding: 1rem 0.4rem;
  max-width: 100%;
  background-color: var(--primary-foreground);
}
dialog .submenu strong.date:first-of-type {
  margin-top: 0;
}
input[type="radio"] {
  scale: 1.4;
  cursor: pointer;
}
input[type="radio"] ~ label {
  padding-left: 6px;
  cursor: pointer;
  font-weight: 450;
  letter-spacing: 0.1px;
  font-family: Google Sans Flex, Inter, system-ui;
  transition: opacity 0.15s ease-in-out;
  font-variation-settings: "ROND" 100;
}
input[type="radio"]:not(:checked) ~ label {
  opacity: 0.8;
}
/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  .btn:hover,
  #previousDay:hover,
  #nextDay:hover,
  #settingsButton:hover {
    filter: brightness(1.1);
  }
  #dayBtn,
  #weekBtn,
  #ltr,
  #side,
  #previousDay,
  #nextDay {
    background-color: var(--primary-foreground);
  }
  #settingsButton {
    background-color: var(--primary-dark);
  }
  #warningIcon {
    fill: #e89822;
  }
  .onvoldoende .grade {
    color: #f78d78;
  }
  #authorizationCode:invalid {
    background-color: #ff2f2f73;
  }
  #authorizationCode:invalid ~ label {
    color: #fdd6d6;
  }
  #authorizationCode:invalid:focus {
    border: 3px solid #f48787;
  }
  .warning .warningMessage,
  .plusTeachers .warningMessage {
    background-color: #5c4531;
    color: #ffbb73;
  }
  kbd {
    border: 1px solid #374048;
  }
  body,
  html {
    color: #e1e4db;
  }
  .dayTitle {
    background-color: #202125;
  }

  #icon,
  .icon {
    fill: white;
    vertical-align: middle;
  }

  #inputForm {
    color: #ffffff;
  }

  button[type="submit"] {
    background-color: #004080;
  }

  #settingsButton {
    fill: white;
  }
  .geweest {
    border: 1px solid #007503;
    background-color: #242d21;
  }
}
.exam {
  border-left: 6px solid #e8cb22;
  padding-left: 4px !important;
}

.activity {
  border-left: 6px solid #268e26;
  padding-left: 4px !important;
}
.cancelled {
  background-color: #fdb1b1;
  color: #4d0a00;
}
.notEnrolled,
button:disabled {
  opacity: 0.6;
  color: var(--accent-text);
}
.notEnrolled #icon {
  fill: var(--accent-text);
}
.timeline {
  position: absolute;
  background-color: var(--timeline);
  z-index: -1;
  width: 100%;
}
.weekEnabled .timeline {
  height: 2px;
  top: var(--top);
}
.weekEnabled .timeline {
  height: 2px;
  top: var(--top);
}
.ltrEnabled .timeline {
  width: 2px;
  height: calc(100vh - 3.75rem);
  left: calc((var(--top) - 1.5rem) * 2.8 + 1px);
  top: -2.75rem;
}
.dayEnabled .timeline {
  visibility: hidden;
  opacity: 0;
}
.subjAbbrev {
  display: none;
}
.circle-marker {
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  width: 12px !important;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary-light);
}
.btnGroup {
  gap: 0 !important;
}
@media (prefers-color-scheme: dark) {
  .cancelled {
    background-color: #93000a;
    color: #fdd6d6;
  }
}
@media print {
  #field {
    display: none;
  }
  #schedule {
    margin-top: 0;
    height: 100vh;
  }
  .les {
    border: 1px solid;
  }
  * {
    background-color: transparent !important;
  }
  .cancelled {
    border: 1px solid #ff2f2f;
  }
  .cancelled::after {
    content: "⌧";
    color: red;
    font-weight: bold;
  }
  .notEnrolled {
    border: 1px solid;
  }
  .notEnrolled::after {
    content: "";
  }
}
#dialog #icon {
  fill: var(--primary-light) !important;
  transform: translateY(-2px);
  margin-right: 5.55px;
  cursor: pointer;
  background-color: var(--primary-background-faded);
  padding: 0.37rem;
  border-radius: 0.75rem;
}
#content .submenu {
  display: none;
}
@media (max-width: 1300px) {
  #ltr {
    display: none;
  }
}
@media (max-width: 1050px) {
  .weekEnabled .les span.teachersAndGroups {
    display: none;
  }
}
@media (max-width: 1007px) {
  .weekEnabled span .long:not(:first-of-type) {
    display: none;
  }
}
@media (max-width: 785px) {
  .weekEnabled span .long:first-of-type {
    display: none;
  }
}
@media (max-width: 850px) {
  .weekEnabled .les p:not(:last-of-type),
  .weekEnabled .les span,
  .weekEnabled strong.date {
    display: block;
  }
  .weekEnabled .warning {
    bottom: 4px;
  }
}
@media (max-width: 810px) {
  .weekEnabled .longExtra {
    display: none;
  }
  .weekEnabled .subject {
    display: none;
  }
  .weekEnabled .subjAbbrev {
    display: inline;
  }
}
@media (max-width: 730px) {
  .weekEnabled .weekText {
    display: none;
  }
}
@media (max-width: 600px) {
  .weekEnabled {
    gap: 5px;
  }
}
@media (max-width: 572px) {
  .weekEnabled {
    gap: 2px;
  }
}
@media (max-width: 560px) {
  .weekEnabled .day section div {
    padding: 0px 8px;
  }
}
@media (max-width: 540px) {
  .weekEnabled .day section div {
    padding: 0px 6px;
  }
  .weekEnabled section div:first-of-type {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
  }
  .weekEnabled section div:last-of-type {
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
}
@media (max-width: 520px) {
  .weekEnabled .longExtraExtra {
    display: none !important;
  }
}
.dates p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  padding: 10px;
  word-break: break-all;
  flex: 1;
}
.createdDate {
  border-right: 2px solid var(--primary-background);
  border-bottom-left-radius: 1rem;
}
.modifiedDate {
  border-bottom-right-radius: 1rem;
}
.dates .pill {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}
dialog.right {
  padding: 16px;
  animation: popIn 0.1s;
}
dialog.right,
dialog.right #content {
  width: 308px;
}
@media (min-width: 500px) {
  dialog.right {
    margin: 0;
    height: -moz-available;
    height: -webkit-fill-available;
    height: stretch;
    margin-left: auto;
    max-height: none;
    border-radius: 1.5rem 0 0 1.5rem;
    position: fixed;
    top: 0;
    animation: popIn 0.3s;
  }
}
@media (max-width: 512px) {
  .weekEnabled .longExtraExtraExtra {
    display: none !important;
  }
}
@media (max-width: 345px) {
  #field {
    width: calc(100vw - 8px);
    padding: 4px;
  }
}
@media (max-width: 337px) {
  #weekBtn {
    display: none;
  }
}
