.theme__color {
  cursor: pointer;
  position: relative;
}
.theme__input {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}
.theme__input:checked + .theme__icon {
  border-radius: 1rem;
}
.theme__input:checked + .theme__icon::before {
  content: "✓";
  font-size: 27px;
  color: var(--primary-dark);
  text-align: center;
  width: 3rem;
  line-height: 3rem;
  display: inherit;
}
.theme__icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  background: var(--color);
  transition: 0.2s;
  vertical-align: middle;
  margin: 5px;
}
body {
  --toets: #ef8636;
  --grote-toets: #d32f0d;
  --lesstof: #3f8541;
  --thumb-background: #7a757f;
  --background: #e6e0e9;
}
body[data-theme="red"] {
  --primary-light: #801d0f;
  --primary-dark: #fff;
  --primary-accent: #fdb1b1;
  --primary-accent-faded: #ffd7d6b0;
  --primary-foreground: #fff8f6;
  --primary-background: #febfbf;
}
body[data-theme="orange"] {
  --primary-light: #8f501b;
  --primary-dark: #fff;
  --primary-accent: #ffd3a6;
  --primary-accent-faded: #ffdfbfb0;
  --primary-foreground: #fff7f3;
  --primary-background: #fedfbf;
}
body[data-theme="orange monochrome"] {
  --primary-light: #7a4415;
  --primary-dark: #fff;
  --primary-accent: #f8dbc2;
  --primary-accent-faded: #f8e6c2b0;
  --primary-foreground: #fff9f3;
  --primary-background: #f8ebde;
}
body[data-theme="yellow"] {
  --primary-light: #7c5c1d;
  --primary-dark: #fff;
  --primary-accent: #fbe89c;
  --primary-accent-faded: #f8e6c2b0;
  --primary-foreground: #fff9f3;
  --primary-background: #fdf3a7;
}
body[data-theme="yellow monochrome"] {
  --primary-light: #7a5715;
  --primary-dark: #fff;
  --primary-accent: #f8e6c2;
  --primary-accent-faded: #f8e6c2b0;
  --primary-foreground: #fff9f3;
  --primary-background: #f8ecde;
}
body[data-theme="green"] {
  --primary-light: #2e6707;
  --primary-dark: #dbfed1;
  --primary-accent: #a9f798;
  --primary-accent-faded: #d5e9d1b0;
  --primary-foreground: #f8faef;
  --primary-background: #cdfbcc;
  --background: #c1ffc8;
  --thumb-background: #498a53;
}
body[data-theme="green monochrome"] {
  --primary-light: #456637;
  --primary-dark: #fff;
  --primary-accent: #d5e9d1;
  --primary-accent-faded: #d5e9d1b0;
  --primary-foreground: #f8faef;
  --primary-background: #ecefe6;
}
body[data-theme="cyan"] {
  --primary-light: #076763;
  --primary-dark: #d1fafe;
  --primary-accent: #ade2e8;
  --primary-accent-faded: #c9e6e9b0;
  --primary-foreground: #e8f9ff;
  --primary-background: #bff0fe;
  --background: #9be9fd;
  --thumb-background: #497d8a;
}
body[data-theme="cyan monochrome"] {
  --primary-light: #076861;
  --primary-dark: #fff;
  --primary-accent: #c9e6e9;
  --primary-accent-faded: #c9e6e9b0;
  --primary-foreground: #f5fbf9;
  --primary-background: #e9efed;
}
body[data-theme="blue"] {
  --primary-light: #275586;
  --primary-dark: #d1edfe;
  --primary-accent: #bce6ff;
  --primary-accent-faded: #dfe0fdb0;
  --primary-foreground: #f8f9fe;
  --primary-background: #d1eeff;
  --background: #9bd8fd;
  --thumb-background: #495c8a;
}
body[data-theme="blue monochrome"] {
  --primary-light: #396089;
  --primary-dark: #fff;
  --primary-accent: #dfe0fd;
  --primary-accent-faded: #dfe0fdb0;
  --primary-foreground: #f8f9fe;
  --primary-background: #edeef3;
}
body[data-theme="purple"] {
  --primary-light: #6a2897;
  --primary-dark: #f0d1fe;
  --primary-accent: #fdbcff;
  --primary-accent-faded: #e8e1f3b0;
  --primary-foreground: #fff2fc;
  --primary-background: #fbd1ff;
  --background: #dbbcff;
  --thumb-background: #6a498a;
}
body[data-theme="purple monochrome"] {
  --primary-light: #705284;
  --primary-dark: #fff;
  --primary-accent: #e8e1f3;
  --primary-accent-faded: #e8e1f3b0;
  --primary-foreground: #fff6fe;
  --primary-background: #f5ebf3;
}
body[data-theme="pink"] {
  --primary-light: #bd0f58;
  --primary-dark: #ffd9ee;
  --primary-accent: #ffbed2;
  --primary-accent-faded: #ffd9e5b0;
  --primary-foreground: #fef8f8;
  --primary-background: #ffd9e5;
  --background: #ffb3de;
  --thumb-background: #9d3e66;
}
body[data-theme="pink monochrome"] {
  --primary-light: #834d6f;
  --primary-dark: #fff;
  --primary-accent: #ffd9e5;
  --primary-accent-faded: #ffd9e5b0;
  --primary-foreground: #fef8f8;
  --primary-background: #f9eaef;
}
@media (prefers-color-scheme: dark) {
  body {
    --toets: #f49247;
    --grote-toets: #f47157;
    --lesstof: #8aeb9f;
    --thumb-background: #948f99;
    --background: #312f35;
  }
  body[data-theme="red"] {
    --primary-light: #ff8181;
    --primary-dark: #610f11;
    --primary-accent: #571a14;
    --primary-accent-faded: #5e423fb0;
    --primary-foreground: #571212;
    --primary-background: #400;
    --background: #310002;
    --thumb-background: #95464a;
  }
  body[data-theme="orange"] {
    --primary-light: #ffaa6c;
    --primary-dark: #613e12;
    --primary-accent: #462400;
    --primary-accent-faded: #5c4531b0;
    --primary-foreground: #462400;
    --primary-background: #321801;
    --background: #311500;
    --thumb-background: #8a5e49;
  }
  body[data-theme="yellow"] {
    --primary-light: #ffd574;
    --primary-dark: #614d12;
    --primary-accent: #463213;
    --primary-accent-faded: #544630b0;
    --primary-foreground: #4a3100;
    --primary-background: #322101;
    --background: #312000;
    --thumb-background: #8a7a49;
  }
  body[data-theme="green"] {
    --primary-light: #a1e184;
    --primary-dark: #275b0f;
    --primary-accent: #28462b;
    --primary-accent-faded: #3a4a40b0;
    --primary-foreground: #2a3c27;
    --primary-background: #1c2d19;
    --background: #0f3100;
    --thumb-background: #5d8452;
  }
  body[data-theme="cyan"] {
    --primary-light: #00dcff;
    --primary-dark: #003a42;
    --primary-accent: #00303a;
    --primary-accent-faded: #2c4b51b0;
    --primary-foreground: #00303a;
    --primary-background: #001d23;
    --background: #002a31;
    --thumb-background: #497d8a;
  }
  body[data-theme="blue"] {
    --primary-light: #56bbff;
    --primary-dark: #122861;
    --primary-accent: #002746;
    --primary-accent-faded: #3e455cb0;
    --primary-foreground: #002746;
    --primary-background: #011b32;
    --background: #000c31;
    --thumb-background: #495f8a;
  }
  body[data-theme="purple"] {
    --primary-light: #cb93ec;
    --primary-dark: #4c1261;
    --primary-accent: #4a1c51;
    --primary-accent-faded: #4d455ab0;
    --primary-foreground: #410d48;
    --primary-background: #2e0132;
    --background: #2d0031;
    --thumb-background: #79498a;
  }
  body[data-theme="pink"] {
    --primary-light: #ff83a6;
    --primary-dark: #63002b;
    --primary-accent: #730438;
    --primary-accent-faded: #5e3e45b0;
    --primary-foreground: #59002a;
    --primary-background: #40001e;
    --background: #310015;
    --thumb-background: #a84762;
  }
}

.switch:not(:last-of-type) {
  margin-right: 4rem;
}
.switch__label {
  position: relative;
  cursor: pointer;
}
.switch__input {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.switch__input:focus + .switch__design {
  box-shadow: 0 0 0 0.1rem var(--global-background), 0 0 0 0.2rem var(--focus);
}
.switch {
  --width: 48px;
  --height: 28px;
  --checked-background: var(--primary-light);
  --thumb-size: 22px;
  --thumb-ripple-color: var(--ripple);
  --checked-thumb-background: var(--primary-dark);
  --thumb-space-between-edges: 0.2rem;
  --thumb-out: var(--thumb-space-between-edges);
  max-width: calc(100vw - 80px);
  width: 244px;
  padding: 18px 16px;
}
.switch__design {
  width: var(--width);
  height: var(--height);
  border: var(--border);
  border-radius: 100rem;
  background: var(--background);
  position: relative;
  transition: 0.1s;
  border: 2px solid var(--thumb-background);
  float: right;
  bottom: 5px;
}
.switch__design::before {
  content: "";
  position: absolute;
  left: var(--thumb-out);
  top: 50%;
  transform: translateY(-50%);
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 100rem;
  background: var(--thumb-background);
  transition: inherit;
}
.switch__input:checked + .switch__design {
  border-color: transparent;
  background: var(--checked-background);
  --thumb-size: 24px;
  --thumb-space-between-edges: 0.1rem;
  --thumb-out: var(--thumb-space-between-edges);
}
.switch__input:checked + .switch__design::before {
  left: calc(100% - (var(--thumb-size) + var(--thumb-out)));
  background: var(--checked-thumb-background);
}

.switch__input:checked + .switch__design::after {
  left: calc(100% - (var(--thumb-size) + var(--thumb-out)));
  position: absolute;
  content: "✓";
  line-height: calc(var(--thumb-size) + var(--thumb-out));
  color: var(--checked-background);
  width: var(--thumb-size);
  text-align: center;
}

.switch__input:not(:checked) + .switch__design::after {
  left: calc(var(--thumb-out) - 1px);
  content: "✗";
  position: absolute;
  top: calc(var(--thumb-out) - 0.5px);
  width: var(--thumb-size);
  text-align: center;
  color: var(--background);
}

.material-textfield {
  position: relative;
  padding: 12px;
}

.material-textfield label {
  position: absolute;
  font-size: 1rem;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-foreground);
  color: gray;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  border-radius: 8px;
}
.material-textfield input {
  font-size: 1rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 1rem 0.7rem;
  max-width: calc(100% - 24px);
  font-family: inherit;
  font-feature-settings: "liga" 1, "calt" 1, "cv07" 1;
  background-color: transparent;
}
p {
  margin: 0;
}
#closeBtn {
  font-family: inherit;
  font-size: inherit;
  float: right;
  margin-top: 16px;
  view-transition-name: close;
}

#schoolName {
  max-width: calc(100% - 95px);
}
@media (prefers-color-scheme: dark) {
  .material-textfield label {
    color: rgba(255, 255, 255, 0.6);
  }
  .material-textfield input {
    border-color: rgba(255, 255, 255, 0.38);
  }
}
.material-textfield input:focus {
  border: 3px solid var(--primary-light);
  padding: calc(1rem - 2px) calc(0.7rem - 2px);
}
.material-textfield input:focus + label {
  color: var(--primary-light);
  top: 14px;
  transform: translateY(-50%) scale(0.9);
  font-weight: 450;
  letter-spacing: 0.1px;
}
.material-textfield input:not(:placeholder-shown) + label {
  top: 14px;
  transform: translateY(-50%) scale(0.9);
  font-weight: 450;
  letter-spacing: 0.1px;
}
::selection {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}
#content {
  max-height: calc(100vh - 180px);
  max-width: calc(100vw - 80px);
  overflow-y: auto;
  padding-top: 7px;
  width: 100vw;
  width: 276px;
  padding-right: 24px;
  overflow-x: hidden;
}
